.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.minHeight669 {
    min-height: 669px;
}

.purpleBorder {
    border: 1px solid #ff00bc2b;
}

.purpleBackground {
    background-color: #8000801f;
}

.fontSize22 {
    font-size: 22px!important;
}

.colorWhite {
    color: #fff;
}

.wordBreak {
    word-break: break-all;
}

.cursorPointer {
    cursor: pointer;
}

.lightPurpleBackgrountColor {
    background-color: #66008033;
}

.profileModalCss {
    width: 500px;
}

.marginBottom10 {
    margin-bottom: 10px;
}

.error {
    color: red;
    font-size: 15px;
    padding-bottom: 10px;
}

.width3Percentage {
    width: 3%;
}

.width85Percentage {
    width: 85%;
}

.borderRadius55 {
    border-radius: 55px;
}

.textAlignCenter {
    text-align: center;
}

.messageColor {
    color: #800080ad;
}

.fontWeightBold {
    font-weight: bold;
}

.backgroundWhite {
    background-color: #fff;
}