.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.orangeBorder {
    border: 1px solid #ffa5004f;
}

.orangeBackground {
    background-color: #ffa50026;
}

.fontSize22 {
    font-size: 22px!important;
}

.colorWhite {
    color: #fff;
}

.wordBreak {
    word-break: break-all;
}

.cursorPointer {
    cursor: pointer;
}

.antiquewhiteBackgrountColor {
    background-color: antiquewhite;
}

.profileModalCss {
    width: 500px;
}

.marginBottom10 {
    margin-bottom: 10px;
}

.error {
    color: red;
    font-size: 15px;
    padding-bottom: 10px;
}