.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.minHeight654 {
    min-height: 654px;
}

.purpleBorder {
    border: 1px solid #ff00bc2b;
}

.purpleBackground {
    background-color: #8000801f;
}

.fontSize22 {
    font-size: 22px!important;
}

.colorWhite {
    color: #fff;
}

.wordBreak {
    word-break: break-all;
}

.cursorPointer {
    cursor: pointer;
}

.lightPurpleBackgrountColor {
    background-color: #66008033;
}

.profileModalCss {
    width: 500px;
    z-index: 0!important;
}

.marginBottom10 {
    margin-bottom: 10px;
}

.error {
    color: red;
    font-size: 15px;
    padding-bottom: 10px;
}

.width3Percentage {
    width: 3%;
}

.width85Percentage {
    width: 85%;
}

.borderRadius55 {
    border-radius: 55px;
}

.textAlignCenter {
    text-align: center;
}

.messageColor {
    color: #800080ad;
}

.fontWeightBold {
    font-weight: bold;
}

.backgroundWhite {
    background-color: #fff;
}

.loader {
    position: relative;
    font-size: 30px!important;
    left: 650px;
    bottom: 381px;
    overflow: hidden;
}

.margin0 {
    margin: 0px 0px 0px 0px!important;
}

.padding0 {
    padding: 0px 0px 0px 0px!important;
}

.alert {
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 0px!important;
    position: relative;
    height: 33%;
    width: 65%;
    bottom: 642px;
    left: 20px;
    z-index: 2000 !important;
}

.alert.success {
    background-color: #4CAF50;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}